.form-success{color:#2dd370;}
.form-error{color:#f00;}
.contact-form input[type="text"],.contact-form input[type="email"],.contact-form input[type="number"],.contact-form input[type="tel"],.contact-form input[type="password"],.contact-form textarea{width:100%;}