#shopify-section-footer{margin-top:auto;}
.footer-navigation h6{margin-bottom:16px;}
.footer-navigation ul li{padding:8px 0px;}
.column-navigation,.column-newsletter{text-align:center;}
.footer-navigation,.footer-newsletter{text-align:left;display:inline-block;padding:0px 15px;}
.copyright-row{display:flex;justify-content:space-between;align-items:center;}
.footer-payment{display:flex;}
@media(min-width:992px){
.footer-row{display:grid;grid-auto-columns: minmax(0, 1fr); grid-auto-flow: column;}
}
@media(max-width:991px){
  .footer-row{display: flex;flex-wrap: wrap;}
  .column-navigation{width:100%;flex:0 0 auto;order:2;text-align:left;}
  .column-newsletter{order:1;width:100%;flex:0 0 auto;text-align:left;}
  .footer-navigation, .footer-newsletter{padding:0;display:block;width:100%;}
  .hide-footer-nav{display:none;}
  .copyright-row{flex-direction: column-reverse;}
  .copyright-row .footer-payment,.copyright-row>div{width:100%;}
  .footer-payment svg{width:30px;}
}