.media-list{position:relative;display:block;}
.snippet-media-slider{position:relative;}
.media-list:after{content:'';position:absolute;top:0;left:0;width:100%;height:100%;}
[data-single="true"] .swiper-wrapper{transform:none !important;}
@media(max-width:991px){
  .snippet-video .media-list:after{display:none;}
}