*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;

}
.shopify-link{vertical-align:middle;}
.shopify-link svg{width:100px;}
.shopify-name {overflow: hidden;position: absolute;height: 1px;width: 1px;}
::marker {display:none;}
.modal-toggle{display:flex;align-items:center;}
.modal-toggle .modal-toggle-close{display:none;}
.modal-toggle-open{text-decoration:underline;}
.list-social li svg{width:20px;height:20px;}
.list-social{display:flex;}